<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Donate Today</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="/static/css/calc.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <h1>Make a tax deductible donation today. Help us spread the pirate message</h1>
      <ul class="progress-bar">
        <li class="visited" id="progress-details">Details</li>
        <li class="unvisited" id="progress-payment">Payment</li>
        <li class="unvisited" id="progress-confirm">Confirm</li>
        <li class="unvisited" id="progress-finish">Finish</li>
      </ul>
    </div>
    <div class="container">
      <div class="form-container">
        <form action="/donate" method="POST">        
    {% include 'donate-details.html' %}
    {% include 'donate-payment.html' %}
    {% include 'donate-confirm.html' %}
    {% include 'donate-finish.html' %}
        </form>
      </div>
    </div>

    <script src="/static/js/jquery-1.12.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>

$(document).ready(function() {
    // placeholder for now but this should redirect to the donation page
    // with their amount prefilled     
    $('#details-continue-btn').click(processDetailsForm);
    $('#payment-continue-btn').click(processPaymentForm);
    $('#confirm-continue-btn').click(processConfirmForm);
    $('#finish-close-btn').click(clearSessionData);
    $('#payment-back-btn').click(backToDetails);
    $('#confirm-back-btn').click(backToPayment);
    checkURLHash();
});    

function processDetailsForm(evt) {
  evt.preventDefault();
  // Send AJAX request
  var formData = {};
  $.ajax({
    url: '/api/details',
    method: 'POST',
    dataType: 'json',
    data: formData,
    success: function(data) {
      // Parse response
      // Fail - display validation errors
      // Successful, move to next page
      window.location.hash = '#payment';
      showPaymentForm();
      updateProgressBar('#payment');
    }
  });
}
function processPaymentForm(evt) {
  evt.preventDefault();
  // Send AJAX request
  var formData = {};
  $.ajax({
    url: '/api/payment',
    method: 'POST',
    dataType: 'json',
    data: formData,
    success: function(data) {
      // Parse response
      // Fail - display validation errors
      // Successful, move to next page
      window.location.hash = '#confirm'
      showConfirmForm();
      updateProgressBar('#confirm');
    }
  });
}

function processConfirmForm(evt) {
  evt.preventDefault();
  // Send AJAX request
  var formData = {};
  $.ajax({
    url: '/api/confirm',
    method: 'POST',
    dataType: 'json',
    data: formData,
    success: function(data) {
      // Parse response
      // Fail - display validation errors
      // Successful, move to next page
      window.location.hash = '#finish'
      showFinishForm();
      updateProgressBar('#finish');
    }
  });
}

function clearSessionData(evt) {
  evt.preventDefault();
  // Send AJAX request
  var formData = {};
  $.ajax({
    url: '/api/finish',
    method: 'POST',
    dataType: 'json',
    data: formData,
    success: function(data) {
      window.location.href = '/'
    }
  });
}

function backToDetails(evt) {
  evt.preventDefault();
  showDetailsForm();
  updateProgressBar('#details')
  window.location.hash = '#details'
}

function backToPayment(evt) {
  evt.preventDefault();
  showPaymentForm();
  updateProgressBar('#payment');
  window.location.hash = '#payment';
}

function showDetailsForm() {
  $('#details-form').show();
  $('#payment-form').hide();
  $('#confirm-form').hide();
  $('#finish-form').hide();
}
function showPaymentForm() {
  $('#details-form').hide();
  $('#payment-form').show();
  $('#confirm-form').hide();
  $('#finish-form').hide();
}
function showConfirmForm() {
  $('#details-form').hide();
  $('#payment-form').hide();
  $('#confirm-form').show();
  $('#finish-form').hide();
}
function showFinishForm() {
  $('#details-form').hide();
  $('#payment-form').hide();
  $('#confirm-form').hide();
  $('#finish-form').show();
}

function checkURLHash() {
  switch(window.location.hash) {
    case '#details':
      showDetailsForm();
      break;
    case '#payment':
      showPaymentForm();
      break;
    case '#confirm':
      showConfirmForm();
      break;
    case '#finish':
      showFinishForm();
      break;
    default:
      window.location.hash = '#details';
      showDetailsForm();
      break;
  }
}

function updateProgressBar(stage) {
  switch(stage) {
    case '#details':
      $('#progress-details').attr('class', 'active');
      $('#progress-payment').attr('class', 'unvisited');
      $('#progress-confirm').attr('class', 'unvisited');
      $('#progress-finish').attr('class', 'unvisited');
      break;
    case '#payment':
      $('#progress-details').attr('class', 'visited');
      $('#progress-payment').attr('class', 'active');
      $('#progress-confirm').attr('class', 'unvisited');
      $('#progress-finish').attr('class', 'unvisited');
      break;
    case '#confirm':
      $('#progress-details').attr('class', 'visited');
      $('#progress-payment').attr('class', 'visited');
      $('#progress-confirm').attr('class', 'active');
      $('#progress-finish').attr('class', 'unvisited');
      break;
    case '#finish':
      $('#progress-details').attr('class', 'visited');
      $('#progress-payment').attr('class', 'visited');
      $('#progress-confirm').attr('class', 'visited');
      $('#progress-finish').attr('class', 'active');
      break;
    default:
      updateProgressBar('#details');
      break;
  }
}
    </script>
  </body>
</html>
